* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoue", sans-serif;
  line-height: 1.6em;
  color: #666;
  background: #e1e1e1 url(https://www.publicdomainpictures.net/pictures/190000/velka/black-background-1468370534d5s.jpg);
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
}

#container {
  width: 740px;
  background: #fff;
  margin: auto;
}

.clearfix {
  clear: both;
}

header {
  padding: 30px 20px;
  background: #f4f4f4;
}

header h1 {
  color: #000;
  margin-bottom: 5px;
}

header span {
  color: #dd2826;
}

section {
  padding: 30px 20px 20px 20px;
}

footer {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}

#search-form {
  display: block;
  margin-bottom: 15px;
}

.fieldcontainer {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-field {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 45%;
  padding: 11px 7px;
  padding-right: 43px;
  background: #fff;
  color: #555;
  border: 1px solid #c8c8c8;
  font-size: 1.6em;
  border-bottom-color: #d2e2e7;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
}

#search-btn {
  position: absolute;
  right: 360px;
  top: 5px;
  height: 32px;
  width: 32px;
  border: 0;
  cursor: pointer;
  zoom: 1.01;
  filter: alpha(opicity=65);
  opacity: 0.65;
  background: transparent url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSX3h7Xmoo_jxh8sZMhD6hHihx9ATU8i-CCstzbUp37lOtwNP4%3Awww.pngmart.com%2Ffiles%2F8%2FSearch-Button-PNG-Free-Image.png&usqp=CAU) top left no-repeat;
}

#search-btn:hover {
		filter:alpha(opacity=90);
		opacity: 0.9;
}

#results li {
		padding: 10px 0;
		border-bottom: 1px #ccc dotted;
		list-style: none;
		overflow: auto;
}

.list-left {
		float: left;
		width: 20%;
}

.list-left img {
		width: 100%;
		padding: 3px;
		border: solid #ccc 1px;
}

.list-right {
		float: right;
		width: 78%;
}

.cTitle {
	color: #dd2826;
}

.button-container {
	margin-top: 25px;
}

.paging-button {
	background: #f4f4f4;
	padding: 8px 13px;
	border: #ccc 1px solid;
	border-radius: 5px;
	color: #333; 
	margin: 10px;
	cursor: pointer;
}