::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  border: 1px dashed white;
  border-radius: 5px;
     }
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
     }
::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
    background-color: white;
    border-radius: 3px;
}
body {
  background: #111;
     }
div  {
  box-sizing: border-box;
     }
img  {
    border-radius: 7px;
     }
.horizontal-scroll-wrapper {
    position: absolute;
    display: block;
  /*top: 55px;*/
    left: -165px;
    width: calc(430px + 1px);
    max-height: 1840px;
    margin: 0;
    padding-top: 1px;
    overflow-y: auto;
    overflow-x: hidden;border-radius: 8px;
    transform: rotate(-90deg) translateY(-250px);
    transform-origin: right top;padding: 25px;
     }
.horizontal-scroll-wrapper > div {
  display: block;
  padding: 5px;
  background: #cab;
  transform: rotate(90deg);
  transform-origin: right top;
     }
.squares {

}
.squares > div {
  width: 250px;
  height: 250px;
  margin: 10px 0;
}
